* {
  padding: 0;
  margin: 0;
  border: 0;
  color: inherit;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

/* end reset css */
body{
  background-color: bisque;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.header {
  background: rgb(20, 19, 19);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
}
.footer {
   margin-top: auto;
   text-align: center;
   background: rgb(20, 19, 19);
   color: rgb(255, 255, 255);
   padding: 30px 0;
}
.header-title.h1 {
}
.navigation {
  align-items: center;
  background: rgb(112, 111, 111);
  color: rgb(255, 255, 255);
  padding: 10px 0;
}
.products-category {
}
.navigation-categories {
  display: flex;
  justify-content: space-around;
  /* padding: 10px; */
  
}
.navigation-categories li a {
  color: inherit;
}
.navigation-categories>li {
  border: 1px black solid;
  padding: 15px;
  margin: auto;
}
.navigation-categories>li:hover{
  background-color: black;
}
.h2.category-title {
}
.products-category-product {
}
.h2.category-title {
}
.h3.product-title {
}
.p {
}
.navigation-categories-products {
  background-color: white;
  color:rgb(20, 19, 19);
  display: none;
  position: absolute;
  z-index: 1;
}
.navigation-categories-products>li{
  border: 1px rgb(20, 19, 19) solid;
  padding: 15px;
  margin: auto;
}
.drop-button:hover .navigation-categories-products{
  display: block;
}

.navigation-categories-products li a {
  color: inherit;
}

.shop-info {
  padding: 40px;
  border: 1px rgb(20, 19, 19) dashed;
  margin: 20px;
  position: relative;
}

.h2 {
}
.p {
}
.ul {
}

.h2.category-title {
}
.products-category-product {
}
.h3.product-title {
}
.image{
  border: 1px solid black;
  max-width: 227px;
  max-height: 227px;
}

.main-about{
  display: grid;
  grid-template-columns: 1fr 300px
}
.offtop{
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 100px 0;
}
.main-about li {
  margin-bottom: 10px;
}


.shop-info .h2 {
  margin-bottom: 15px;
}